<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Kigg.Infrastructure.LinqToSql.Properties.Settings.dotnetomaniakConnectionString" connectionString="Data Source=(local);Initial Catalog=dotnetomaniak;Integrated Security=True" providerName="System.Data.SqlClient" />
        <add name="Kigg.Infrastructure.LinqToSql.Properties.Settings.pawlos_dotnetomaniakConnectionString" connectionString="Data Source=OCTAL-KB01\SQLKB01;Initial Catalog=pawlos_dotnetomaniak;User ID=pawlos_dotnetomaniak2;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" /></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.DependencyInjection.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.1.0" newVersion="2.1.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.1" newVersion="4.0.3.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
